__pycache__/

build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/


# Environments
.env
.venv
env/
venv/
ENV/

.idea

*.html
*.csv

data/wallets.txt
